.Checkbox__label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  color: #4a4a4a;
  position: relative;
  margin: 0 auto;
  margin-bottom: .66rem;
  text-align: left;
}

.Checkbox__input {
  opacity: 0;
  margin: 0 !important;
  position: absolute;

  &:focus {
    & + .box {
      border-color: #2D9BE3;
      box-shadow: rgba(#2D9BE3, .4) 0 0 0 2px;
    }
  }
}

.Checkbox__box {
  position: relative;
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: text-top;
  cursor: pointer;
  margin-right: .4rem;

  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid #919191;
  color: #fff;

  transition: .3s ease-in-out;

  i {
    display: none;
  }
}

.Checkbox__boxChecked {
  background-color: #14282D;

  i {
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    color: #fff;
    display: block;
    z-index: 100;
    font-size: 1rem;
  }
}
